# dependencies
node_modules/
.pnp/
.pnp.js

# testing
coverage/

# production
build/
dist/

# environment variables
.env
.env.*

# vscode settings
.vscode/

# system files
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
